.App {
  margin-left: 250px; /* Same as .navbar width */
  padding: 20px; /* Adjust spacing */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  overflow: auto;
  position: relative; /* Keeps the content above the pseudo-element */
}

body::before {
  content: ""; /* Required for the pseudo-element to render */
  position: fixed; /* Fixes the background to the viewport */
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./flowers.jpg); /* Correct path */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.27; /* Adjusts transparency of the background */
  z-index: -1; /* Places the background behind the content */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 250px;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f6eeeb;
  padding-top: 20px;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.navbar_icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.navbar_icons img {
  width: 50px;
  cursor: pointer; /* Apply cursor pointer directly */
}

.navbar_icons img:hover {
  opacity: 0.7; /* Example hover effect */

}



/* General form styles */
form {
  background-color: #f9f3f3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* מרכז את כל התוכן בתוך הטופס */
}

.yes-no-buttons{
  background-color: #f6eeeb;
  color: #927269;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}
.yes-no-buttons:hover{
  background-color: #dfc8bf;
}

h1,h2{
  text-align: center;
  color: #927269;
  font-family: "Monotype Corsiva", cursive;
  font-weight: normal;
}


ul {
  list-style-type: none;
}



label {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right: 20px;
  color: #927269;
}

input, select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 10px;
  font-size: 1rem;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: #927269;
  box-sizing: border-box;
  background-color: #f7f7f7;
}


input[type="checkbox"] {
  margin-top: 10px;
  margin-right: 5px;
}

.button-submit {
  background-color: #e0d6e48f;
  color: #6a4f4b;
  border: none;
  text-align: center;
  padding: 10px 15px;
  font-size: 17px;
  width: 180px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: #e9e0e1 0.3s ease;
  margin: 15px;
}

.button-submit:hover {
  background-color: #6a4f4b;
  color: #e4d0d0;
}

button:disabled {
  background-color: #d0d0d0;
  cursor: not-allowed;
}

input[type="text"], select {
  background-color: #f5f5f5;
}

input[type="text"]:focus, select:focus {
  outline: 2px solid #a38486;
}


.flower-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 40px;
  justify-content: center;
}

.flower-card {
  background: #f6eeeb;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 300px; /* Fixed width */
  height: 340px; /* Increased height */
  text-align: center;
  transition: transform 0.2s ease-in-out;
  position: relative;
  overflow: hidden; /* Ensure content stays inside */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Edit button should stay inside the card */
.buttons {
  position: relative; /* Make sure it's within the card */
  bottom: 10px; /* Adjust spacing */
  border: none;
  color: #9f8a8a;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  width: 80px;
  align-self: center;
}

.buttons:hover {
  color: #9f8a8a89;
}



.flower-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.flower-image {
  width: 100%;
  height: 275px;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

.flower-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  background: rgba(233, 224, 224, 0.7);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  min-height: 150px;
  max-height: 250px;
  overflow-y: auto; 
}




.flower-container:hover .flower-info {
  opacity: 1;
}

.flower-container:hover .flower-image {
  opacity: 0.5;
}


/* Styles for the flowers' description */
div > p {
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin-top: 15px;
}

p {
  color: #6a4f4b;
  text-align: center;
  font-family: "Monotype Corsiva", cursive;
  font-size: 20px; 
}


input[type="checkbox"]:checked {
  accent-color: #59383b;
}

/* Container for color checkboxes */
.color-options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); /* 4-5 checkboxes per row */
  gap: 20px; /* Space between each checkbox item */
  justify-items: center; /* Center checkboxes in their grid cells */
  align-items: center; /* Center checkboxes vertically in their grid cells */
  max-width: 100%; /* Ensure it doesn't overflow */
  margin: 0 auto; /* Horizontally center the grid */
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



/* Individual color option */
.color-option {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #927269; /* Text color for checkbox labels */
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
}

/* Hover effect on color option */
.color-option:hover {
  background-color: #f1f7f6; /* Light mint background on hover */
}

/* Custom checkbox design */
.color-checkbox {
  appearance: none;
  margin-top: 13px;
  border-radius: 50%;
  border: 2px solid #d8e1e4;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Style when checkbox is checked */
.color-checkbox:checked {
  background-color: #59383b; /* Soft coral background when checked */
}

/* Style when checkbox is hovered */
.color-checkbox:hover {
  border-color: #59383b; /* Change border color on hover */
}

/* Text next to checkbox (color name) */
.color-name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Option text color when checkbox is checked */
.color-checkbox:checked + .color-name {
  font-weight: bold;
  color: #59383b; /* Soft coral color when checked */
}

/* Option text color when checkbox is not checked */
.color-checkbox:not(:checked) + .color-name {
  color: #927269; /* Standard color when not checked */
}


.recycle-bin{
  text-align: right;
  margin-right: 10px;
  cursor:pointer;
  width: 120px;
  height: 100px;
}

.recycle-bin-text:hover{
  opacity: 0.6;
}